<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawpage);

      function drawChart() {

        var jsonData = $.ajax({
            url: "/plotdata/" + new Date().getTime(),
            dataType: "json",
            async: false
            }).responseText;

        var data = new google.visualization.arrayToDataTable(JSON.parse(jsonData));

        var options = {
          hAxis: { textPosition: 'none' },
          axes: {
            x: {
              0: { side: 'bottom', label: ""}
            }
          },
          legend: { position: 'none' },
          stacked: true,
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      function drawpage() {
        drawChart()
      };

    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 900px; height: 200px;"></div>
  </body>
</html>
