<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawmany);

      function drawChart(date) {

        var jsonData = $.ajax({
            url: "/traveldata/" + date,
            dataType: "json",
            async: false
            }).responseText;

        var data = new google.visualization.arrayToDataTable(JSON.parse(jsonData));

        var options = {
        };

        var chart = new google.charts.Line(document.getElementById(date));
        chart.draw(data, options);
      };
      function drawpage(date) {
        var div = document.createElement('div');
        div.id = date;
        var plotarea = document.getElementById('plotarea');
        plotarea.append(div)
        drawChart(date);
      };

      function drawmany() {
        var date = new Date().getTime();
        drawpage(date);
      };

    </script>
  </head>
  <body>
    Origin: {{origin}}  Dest: {{destination}}
    <div id="plotarea" style="width: 900px"></div>
  </body>
</html>
